@font-face {
    font-family: poppins;
    src: url(/assets/Poppins-Medium.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #fdd758;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#heading {
    min-height: 10vh;
    width: 100%;
    /* background-color: aqua; */
    padding: 0.5% 1%;
    margin: 4% 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

#question {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#question>h1 {
    font-size: 4vw;
}

.h1Img {
    height: 7vh;
    width: auto;
}

#h1_right_face {
    transform: scaleX(-1);
}

#options {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
    flex: 1 1 auto;
    border: 1.5px solid #587EFD;
    padding: 1.5% 2%;
    border-radius: 5px;
}

.btn {
    background-color: #587EFD;
    color: #fdd758;
    padding: 0.9% 1.5%;
    border-radius: 5px;
    border: none;
}

#response {
    height: 100%;
    width: 100%;
    margin-top: 30%;
    background-image: url(assets/joke_area_bg.avif);
    background-size: cover;
    /* background-repeat: no-repeat; */
    position: relative;
    display: flex;
    align-items: center;
    padding: 5% 15%;
    justify-content: center;
    opacity: 0;
    z-index: 2;
    /* background-color: #587EFD; */
}
#response-wrapper{
    height: 30vh;
    width: 80vw;
    position: relative;
}
#middleImg{
    position: absolute;
    top: 55%;
    opacity: 0;
    transform: translate(-50%, 0%);
    height: 50%;
    left: 50%;
    width: auto;
    transition: all 1s ease-in;
    z-index: 1;
}

/* 
#middleImg1 {
    position: absolute;
    right: 0%;
    height: 50%;
    width: auto;
} */

#single>h1 {
    font-size: 4vw;
    display: flex;
    flex-wrap: wrap;
}

#twoPart {
    flex-direction: column;
    gap: 1vh;
    font-size: 3vw;
}

#alert {
    width: 80%;
    padding: 1% 2%;
    border-radius: 10px;
    background-color: #90b902;
    font-size: 8vw;
    position: absolute;
    display: flex;
    opacity: 0;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.1s linear;
}

#btn-18 {
    margin-top: 3%;
    display: flex;
    gap: 5vw;
    align-items: center;
    justify-content: center;
}

#yes,
#no {
    padding: 1% 10%;
    border-radius: 5px;
    font-size: 6vw;
}

#yes {
    background-color: rgb(0, 255, 0);
}

#no {
    background-color: red;
    border: none;
}

#noDiv {
    margin-top: 1vh;
    font-size: 4vw;
    color: #fdd758;
    /* font-weight: 00; */
    opacity: 0;
}

#loader {
    width: 20vw;
    height: 20vw;
    top: 45%;
    left: 45%;
    position: absolute;
    border: 4px solid rgb(0, 0, 0, 0.1);
    border-top: 4px solid blueviolet;
    border-radius: 50%;
    animation: spinner 1s linear infinite;
    display: none;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#funImg1>img {
    height: 10vh;
    width: auto;
    position: absolute;
    bottom: -7%;
    right: -7%;
    mix-blend-mode: multiply;
    transition: all 1s ease-in;
}

#funImg2_btm_lt>img {
    height: 15vh;
    width: auto;
    clip-path: inset(0% 30%);
    /*THIS CLIPS IMAGE FROM LEFT AND RIGHT WITH 30% VALUE */
    position: absolute;
    bottom: -20%;
    left: -5%;
    transition: all 1s ease-in;
}